<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <h2 class="text-center"><%= blogUser.firstName + " " + blogUser.lastName %></h2>
        <div class="card">
            <img class="card-img-top" src="<%= blogUser.avatar %>" alt="user profile image">
            <div class="card-body">
                <div class="card-text"><a href="mailto:<%= blogUser.email %>"><%= blogUser.email %></a></div>
                <% if(currentUser && !(currentUser._id.equals(blogUser._id))) { %>
                    <% if(isFollowing) { %>
                        <form action="/unfollow/<%= blogUser._id %>" method="GET">
                            <button class="btn btn-primary btn-block">Following</button>
                        </form>    
                    <% } else { %>
                        <form action="/follow/<%= blogUser._id %>" method="GET">
                            <button class="btn btn-outline-primary btn-block">Follow</button>
                        </form>
                    <% } %>
                <% } %>
            </div>    
        </div> 
        <% if(currentUser) { %>
          <% if(currentUser.isAdmin) { %>
            <div class="card mt-2">
                <div class="card-body pb-0">
                    <h5 class="card-title border-bottom border-primary">Admin Controls</h5>
                    <!-- <hr class="bg-primary" style="height: 1px;"> -->
                    <form class="form" id="updateAdminOptionsForm" action="/users/<%= blogUser._id %>?_method=PUT" method="POST">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="isAdmin" id="adminCheck" <%= blogUser.isAdmin ? 'checked' : '' %>>
                            <label for="adminCheck" class="form-check-label">Administrator</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="isPublisher" id="pubCheck" <%= blogUser.isPublisher ? 'checked' : '' %>>
                            <label for="pubCheck" class="form-check-label">Publisher</label>
                        </div>
                        <div class="form-group">
                            <button id="updateBtn" class="btn btn-outline-primary btn-block mt-2" type="button" onclick="updateAdminOptions()"><span class="spinner-grow spinner-grow-sm" id="updateSpan" style="display: none;"></span>Update</button>
                        </div>
                    </form>
                </div>    
            </div> 
          <% } else { %>
            <% if(currentUser.isRequestedAdmin) { %>
              <div class="card mt-2">
                <div class="card-body">
                  <p class="text-muted">Administrator access requested:</p>
                  <button type="button" class="btn btn-primary btn-block" disabled="true">Requested</button>
                </div>
              </div>
            <% } else { %>
              <div class="card mt-2">
                <div class="card-body">
                  <form id="requestAdminAccessForm" action="/reqAdmin/<%= blogUser._id %>/true" method="GET">
                    <p>Request administrator access:</p>
                    <button id="requestBtn" type="button" class="btn btn-outline-primary btn-block" onclick="requestAdminAccess()"><span class="spinner-grow spinner-grow-sm" id="requestSpan" style="display: none;"></span>Request</button>
                  </form>
                </div>
              </div>    
            <% } %>
          <% } %>       
        <% } %>   
    </div>
    <div class="col-md-9 mt-2">
        <% if(campgrounds) { %>
            <h3><strong><%= blogUser.username %>'s</strong> campgrounds:</h3>
            <ul>
                <% campgrounds.forEach(function(campground){ %>
                    <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
                <% }); %>
            </ul>    
        <% } %>    
    </div>
</div>

<script>
    function updateAdminOptions() {
      document.getElementById("updateBtn").value = "Updating..";
      document.getElementById("updateBtn").disabled = true;
      document.getElementById("updateSpan").style.display = "inline";

      document.getElementById("adminCheck").value = document.getElementById("adminCheck").checked;
      document.getElementById("pubCheck").value = document.getElementById("pubCheck").checked;
      // trigger form action
      document.getElementById("updateAdminOptionsForm").submit();
    };

    function requestAdminAccess() {
      document.getElementById("requestBtn").value = "Requesting..";
      document.getElementById("requestBtn").disabled = true;
      document.getElementById("requestSpan").style.display = "inline";

      document.getElementById("requestAdminAccessForm").submit();
    };
</script>

<%- include("../partials/footer") %>